:root {
    --Inter-font: "Inter-Variable", sans-serif;
    --PressStart2P-font: "PressStart2P", monospace;
    --fon-gradient:
        repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --block-width: clamp(320px, 100vw, 700px);
    --shadow-color: #ffffff;
    --button-hover-text-color: #FFFFFF;
    --background-color: #FFFFFF;
    --accent-color: #000000;
    --text-color: #FFFFFF;
    --contour-color: black;
    --animation-fill-color: #FF0000;
}